<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block home_title %}{% endblock %}</title>
{% block stylesheets %}
<link rel="shortcut icon" href="{{ asset('clientsite/images/favicon.ico')}}" />
<link href="{{ asset('clientsite/css/jquery.simplyscroll-1.0.4.css') }}" type="text/css" rel="stylesheet">
<link href="{{ asset('clientsite/css/reset.css') }}" rel="stylesheet">
<link href="{{ asset('clientsite/css/style.css') }}" rel="stylesheet">
<link href="{{ asset('clientsite/css/slider.css') }}" rel="stylesheet">
<link href="{{ asset('clientsite/css/smoothness/jquery-ui-1.9.2.custom.css') }}" rel="stylesheet">
{% endblock %}
{% block javascript %}
<script src="{{ asset('clientsite/jscripts/jquery-1.8.3.js') }}"></script>
<script src="{{ asset('clientsite/jscripts/jquery-ui-1.9.2.custom.js') }}"></script>
<script src="{{ asset('clientsite/jscripts/jquery.simplyscroll-1.0.4.js') }}"></script>
<script src="{{ asset('clientsite/jscripts/js-slider.js') }}"></script>
<script src="{{ asset('clientsite/jscripts/slider.js') }}"></script>
<script src="{{ asset('clientsite/jscripts/jquery.carouFredSel-6.2.1-packed.js') }}"></script>
<script src="{{ asset('clientsite/jscripts/all-effect.js') }}"></script>
{% endblock %}
</head>

<body>
	<div class="lang">
    	<a href="#"><img src="{{ asset('clientsite/images/flag-eng.jpg') }}" width="14" height="11" /></a>
   		<a href="#"><img src="{{ asset('clientsite/images/flag-vn.jpg') }}" width="14" height="11" /></a>
    </div>
<div id="mainsite" class="clearfix">
    <div class="menu-top">
    	<ul>
        	<li>
           		<a href="#">
                	<div class="line-top-menu"></div>
                    <span>{% block navi_5 %}{% endblock %}</span>
                </a>
            </li>
            <li>
           		<a href="#">
                	<div class="line-top-menu"></div>
                    <span>{% block navi_4 %}{% endblock %}</span>
                </a>
            </li>
            <li>
           		<a href="#">
                	<div class="line-top-menu"></div>
                    <span>{% block navi_3 %}{% endblock %}</span>
                </a>
            </li><li>
           		<a href="#">
                	<div class="line-top-menu"></div>
                    <span>{% block navi_2 %}{% endblock %}</span>
                </a>
            </li>
        	<li>
           		<a href="#">
                	<div class="line-top-menu"></div>
                    <span>{% block navi_1 %}{% endblock %}</span>
                </a>
            </li>
            <li>
           		<a class="active" href="#">
                	<div class="line-top-menu"></div>
                    <span>{% block navi_0 %}{% endblock %}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="banner">
    	<div class="logo">
        	<div class="logo-left"></div>
            <div class="logo-center"><a href="/"><img src="clientsite/images/index-logo.png" width="182" height="95"></a></div>
            <div class="logo-right"></div>
        </div>
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
            	<a href="#"><img src="clientsite/images/banner.jpg" /></a>
                <a href="#"><img src="clientsite/images/banner1.jpg" /></a>
                <a href="#"><img src="clientsite/images/banner2.jpg" /></a>
        	</div>
        </div>
    </div>
    <div class="banner-bg"></div>
    <!--Style for Content Site-->
    <div id="content">
    	<div class="title">
        	<div class="title-text"><h1>Sản phẩm</h1></div>
            <div style="float:right; margin-top:10px; display:block">
           		<a id="next3"  href="#"><img src="clientsite/images/arrow-product-left.png" width="20" height="14"></a>
                &nbsp;&nbsp;
            	<a id="prev3"  href="#"><img src="clientsite/images/arrow-product-right.png" width="20" height="14"></a>
            </div>
        </div>
        <div class="product list_carousel">
        	<ul id="foo3">
            	<li>
                	<div class="pd-block">
                    	<a href="#"><img src="clientsite/images/img-product.jpg" width="208" height="127"></a>
                    	<h4><a href="#">Hoa hồng vàng</a></h4>
                    	<p>PC 02 - 09</p>
                    </div>
                </li>
                <li>
                	<div class="pd-block">
                    	<a href="#"><img src="clientsite/images/img-product.jpg" width="208" height="127"></a>
                    	<h4><a href="#">Hoa hồng vàng</a></h4>
                    	<p>PC 02 - 09</p>
                    </div>
                </li>
                <li>
                	<div class="pd-block">
                    	<a href="#"><img src="clientsite/images/img-product.jpg" width="208" height="127"></a>
                    	<h4><a href="#">Hoa hồng vàng</a></h4>
                    	<p>PC 02 - 09</p>
                    </div>
                </li>
                <li>
                	<div class="pd-block">
                    	<a href="#"><img src="clientsite/images/img-product.jpg" width="208" height="127"></a>
                    	<h4><a href="#">Hoa hồng vàng</a></h4>
                    	<p>PC 02 - 09</p>
                    </div>
                </li>
                <li>
                	<div class="pd-block">
                    	<a href="#"><img src="clientsite/images/img-product.jpg" width="208" height="127"></a>
                    	<h4><a href="#">Hoa hồng vàng</a></h4>
                    	<p>PC 02 - 09</p>
                    </div>
                </li>
                <li>
                	<div class="pd-block">
                    	<a href="#"><img src="clientsite/images/img-product.jpg" width="208" height="127"></a>
                    	<h4><a href="#">Hoa hồng vàng</a></h4>
                    	<p>PC 02 - 09</p>
                    </div>
                </li>
                <li>
                	<div class="pd-block">
                    	<a href="#"><img src="clientsite/images/img-product.jpg" width="208" height="127"></a>
                    	<h4><a href="#">Hoa hồng vàng</a></h4>
                    	<p>PC 02 - 09</p>
                    </div>
                </li>
                <li>
                	<div class="pd-block">
                    	<a href="#"><img src="clientsite/images/img-product.jpg" width="208" height="127"></a>
                    	<h4><a href="#">Hoa hồng vàng</a></h4>
                    	<p>PC 02 - 09</p>
                    </div>
                </li>
                
            </ul>
        </div>
        <div class="title">
        	<div class="title-text"><h1>Giới thiệu</h1></div>
        </div>
        <div class="news-video">
        	<div class="news">
            	<p>Công ty TNHH Ngọc Việt chính thức thành lập ngày 10 tháng 12 năm 2009. Với thương hiệu Ngọc Việt Art,công ty hoạt động chuyên về lĩnh vực sản xuất tranh đá quý, màu sắc hoàn toàn từ thiên nhiên.</p>
                <p>Ngọc Việt Art là một trong những thương hiệu đẳng cấp tranh đá quý hàng đầu tại Việt Nam...</p>
                <p><a class="link-green" href="#">Xem tiếp</a></p>
            </div>
            <div class="video">
           		<p class="intro-name">CÔNG TY TNHH NGỌC VIỆT ART (TRANH ĐÁ QUÝ NVA)</p>
                <p><strong>Địa chỉ:</strong> 326 Tran Binh Trong Str., Ward 4, Dist. 5, HCMC.</p>
                <p>
                	<strong>Điện thoại:</strong> 08.39 381639 - 35 072806&nbsp;&nbsp;&nbsp;
                	<strong>Hotline:</strong> 0984 668 439 
                </p>
                <p><strong>Email:</strong> tranhdaquy@ngocvietart.com</p>
                <p>
                	<strong>Hỗ trợ trực tuyến:</strong> 
                    <img src="clientsite/images/icon-yahoo.png" width="18" height="18"> 
                    <a class="link-green" href="#">Kinh doanh</a>
                </p>
            </div>
        </div>
        <div class="news-video">
        	<div class="news">
            	<div class="title">
                    <div class="title-text"><h1>Tin tức & Sự kiện</h1></div>
                </div>
            	<div class="block-news">
                	<a href="#"><img src="clientsite/images/img-news.jpg" width="159" height="103"></a>
                    <div class="news-text">
                    	<h3><a href="#">Chọn đá quý cho đầu năm</a></h3>
                    	<p>Để cùng bạn bè đến những bưa tiệc sang trọng, bên cạnh chọn những bộ trang phục thật đẹp, bạn cũng...</p>
                    </div>
                </div>
                <div class="block-news">
                	<a href="#"><img src="clientsite/images/img-news.jpg" width="159" height="103"></a>
                    <div class="news-text">
                    	<h3><a href="#">Các loại ngọc trai quý hiếm ở Đông Nam Á</a></h3>
                    	<p>Trên thế giới có khoang 3000 loại ngọc trai, tuy nhiên những loại ngọc trai quý hiếm chỉ xuất hiện ở những vùng biển...</p>
                    </div>
                </div>
            </div>
            <div class="video">
            	<div class="title">
                    <div class="title-text"><h1>Video</h1></div>
                </div>
           		<img src="clientsite/images/video.jpg" width="449" height="248">
            </div>
        </div>
    	<div class="title">
        	<div class="title-text"><h1>Đối tác</h1></div>
        </div>
        <div class="partner">
        	<ul id="scroller">
                <li><a href="#"><img src="clientsite/images/logo-partner.jpg" /></a></li>
                <li><a href="#"><img src="clientsite/images/logo-partner.jpg" /></a></li>
                <li><a href="#"><img src="clientsite/images/logo-partner.jpg" /></a></li>
                <li><a href="#"><img src="clientsite/images/logo-partner.jpg" /></a></li>
            </ul>
        </div>
    </div>
</div>
<div id="footer" class="clearfix">
    <div class="copyright">
        <span>Bản quyền thuộc về cty TNHH <strong>Ngoc Viet Art</strong></span>
        <span style="margin-top:10px">Follow me:&nbsp;
        	<a href="#"><img src="clientsite/images/icon-fb.jpg" width="18" height="18"></a>&nbsp;
        	<a href="#"><img src="clientsite/images/icon-tw.jpg" width="19" height="18"></a>&nbsp;
        	<a href="#"><img src="clientsite/images/icon-g.jpg" width="18" height="18"></a>
    	</span>
    </div>
    <div class="footer-menu">
    	<ul>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Tin tức &amp; Sự kiện</a></li>
            <li><a href="#">Khuyến mãi</a></li>
            <li><a href="#">Sản phẩm</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="indexnva">Trang chủ</a></li>
        </ul>
    </div>
</div>
</body>
</html>
